/*! start page */

html.lightTheme{
    background: url(../img/backLightIndex.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

html.darkTheme{
    background: url(../img/backDarkIndex.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}  

.container .content{
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

/*? text */
.container .content .text{
    width: 500px;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color);
}

.container .content .text h1{
    font-size: 30px;
}

.container .content .text p{
    margin-top: 20px;
    font-size: 22px;
    line-height: 1.6em;
}

/*? buttons */
.container .content .buttons{
    width: 320px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container .content .buttons button{
    width: 150px;
    height: 45px;
    background: var(--btn-bg);
    color: var(--color);
    font-size: 20px;
    outline: none;
    border: 1px solid transparent;
    border-radius: 5px;
}

/*? Buttons Sign in and sign up */
.container .panel{
    display: none;
    position: absolute;
    top: calc(50% - 275px);
    width: 350px;
    height: 550px;
    background: var(--div-bg);
    border: 1px solid transparent;
    border-radius: 5px;
}

.container .panel i.fa-xmark{
    position: absolute;
    margin-top: 5px;
    margin-left: 5px;
    color: var(--color);
    font-size: 25px;
}


.container .panel .controller{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 15%;
}

.container .panel .controller button{
    width: 100%;
    height: 100%;
    background: var(--btn-bg);
    color: var(--color);
    text-align: center;
    outline: none;
    border: 1px solid transparent;
    font-size: 20px;
}

/*? Sign up panel*/
.container .panel .signUp, .container .panel .signIn{
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 85%;
    padding: 30px 0;
}

.container .panel .signUp .item, .container .panel .signIn .item{
    width: 100%;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .panel .signUp .item i, .container .panel .signIn .item i{
    z-index: 2;
    margin-right: -25px;
    color: var(--icon-color);
}

.container .panel .signUp .item input, .container .panel .signIn .item input{
    width: 60%;
    height: 38px;
    text-align: center;
    background: transparent;
    color: var(--color);
    border: 1px solid transparent;
    border-bottom-color: var(--border-sign-input);
    border-radius: 5px;
    font-size: 14px;
    outline: none;
}

.container .panel .signUp button, .container .panel .signIn button{
    width: 50%;
    height: 38px;
    background: var(--btn-bg);
    color: var(--color);
    border: none;
    border-radius: 5px;
    font-size: 20px;
}

.container .panel .signUp button a, .container .panel .signIn button a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 20px;
    color: var(--color);
}

.container .panel .signUp button a i, .container .panel .signIn button a i{
    margin-left: 5px;
    margin-top: 5px;
    font-size: 15px;
    transition: all 0.3s;
}

.container .panel .signIn .item .checkBox{
  display: none;
}
 
.container .panel .signIn .item label{
  color: var(--color);
  cursor: default;
  line-height: 20px;
  vertical-align: middle;
}
 
.container .panel .signIn .item label:before{
  content: " ";
  color: var(--icon-color);
  display: inline-block;
  margin-right: 15px;
  position: relative;
  text-align: center;
  text-indent: 0px;
  font-size: 14px;
  width: 20px;
  height: 20px;
  background: transparent;
  border: 1px solid #ffffff;
  border-image: initial;
  vertical-align: middle;
}
 
.container .panel .signIn .item input.checkBox:checked + label:before{
    content: "✔";
}

/*? errors form*/

/* password */
.container .panel .signUp .item .error{
    border-bottom-color: var(--error);
}

.container .panel .signUp .passwordError{
    color:  var(--error);
}

/* phone */
.container .panel .signUp .phoneError{
    color: var(--error);
}

/*? active */
.container .content.active{
    display: none;
}

.container .panel.active{
    display: block;
}

.container .panel .controller button.active{
    background: var(--bg);
}

.container .panel div.active{
    display: flex;
}

/*? hover */
.container .panel .signUp button:hover i, .container .panel .signIn button:hover i{
    margin-left: 10px;
}

.container nav .themes .themeBtn.active:hover, .container header nav .languages .languageBtn.active:hover{
    cursor: default;
}



/* ? Adaptation */
@media all and (max-width: 700px) {
    .container .content .text{
        width: 350px;
    }

    .container .content .text h1{
        font-size: 25px;
    }

    .container .content .text p{
        font-size: 18px;
    } 
    
    .container .content .buttons{
        width: 260px;
    }
    
    .container .content .buttons button{
        width: 120px;
        height: 38px;
        font-size: 18px;
    } 
}

@media all and (max-width: 420px) {
    .container .content .text{
        width: 270px;
    }

    .container .content .text h1{
        font-size: 18px;
    }

    .container .content .text p{
        font-size: 15px;
    } 
    
    .container .content .buttons{
        width: 200px;
    }
    
    .container .content .buttons button{
        width: 90px;
        height: 29px;
        font-size: 14px;
    }
    
} 

@media all and (max-width: 280px) {
    .container .content .text{
        width: 220px;
    }

    .container .content .text h1{
        font-size: 15px;
    }

    .container .content .text p{
        font-size: 12px;
    } 
    
    .container .content .buttons{
        width: 200px;
    }
    
    .container .content .buttons button{
        width: 90px;
        height: 29px;
        font-size: 14px;
    }
    
} 











































