/*! Plans page*/

html{
    width: 100%;
    height: auto;
} 

html.lightTheme{
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    background-attachment: fixed;
    background-size: cover;  
}

html.lightTheme body .container header nav{
    background-color: rgba(202, 233, 255, 0.2);
}

html.darkTheme{
    background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
    background-attachment: fixed;
    background-size: cover;  
}

html.darkTheme body .container header nav{
    background-color: rgba(13, 27, 42, 0.2);
}

body{
    height: 100%;
    width: 100%;
}

.container .plans{
    width: 90%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
}

.container .plans .tab{
    width: 300px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 15px;
    background: var(--div-bg);
    border: 1px solid transparent;
    border-radius: 5px;
}

.container .plans .tab h3{
    width: 100%;
    height: 15%;
    margin-top: 10px;
    padding-top: 20px;
    font-size: 30px;
    color: var(--color);
    text-align: center;
    border: 1px solid transparent;
    border-bottom-color: var(--border-sign-input);
    border-radius: 5px;
}

.container .plans .tab p{
    width: 100%;
    height: 17%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color);
    font-size: 25px;
}

.container .plans .tab a{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center; 
    text-decoration: none;
    font-size: 20px;
    color: var(--color);
    background-color: var(--btn-bg);
}

.container .plans .tab a i{
    margin-left: 5px;
    margin-top: 5px;
    font-size: 20px;
}

/*? hover */
.container .plans .tab a:hover i{
    margin-left: 15px;
}





/* @media all and (max-width: 1700px) {
    .container .plans .tab h1{
        font-size: 25px;
    }     
}

@media all and (max-width: 1300px) {
    .container .plans .tab h1{
        font-size: 18px;
    }     
    .container .plans .tab p{
        font-size: 14px;
    }
    .container .plans{
        height: 30%;
    }
    .container .plans .tab a{
        font-size: 20px;
    }
    .container .plans .tab a i{
        font-size: 15px;
    }
}

@media all and (max-width: 1000px) {
    .container .plans .tab h1{
        font-size: 12px;
    }     
    .container .plans .tab p{
        font-size: 11px;
    }
    .container .plans{
        height: 30%;
    }
    .container .plans .tab{
        margin-top: 20px;
        margin-bottom: 20px;
        width: 300px;
        height: 200px;
    }
    .container .plans .tab a{
        font-size: 14px;
    }
    .container .plans .tab a i{
        font-size: 15px;
    }
} */