/*! Sign Up / Sign In page */

body{
    width: 100%;
    height: 100%;
    background: url(../img/backSign.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

/*? Buttons Sign in and sign up */
.container .panel{
    width: 350px;
    height: 550px;
    background: rgba(255, 255, 255, 0.4); /* opacity */
    border: 1px solid transparent;
    border-radius: 5px;
    box-shadow: 0 0 6px 5px rgba(221, 221, 221, 1); /* shadow */
}

.container .panel .controller{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 15%;
}

.container .panel .controller button{
    width: 100%;
    height: 100%;
    background: var(--bg-controller-button);
    color: var(--color);
    text-align: center;
    outline: none;
    border: 1px solid transparent;
    font-size: 20px;
}

/*? Sign up panel*/
.container .panel .signUp, .container .panel .signIn{
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 85%;
    padding: 30px 0;
}

.container .panel .signUp .item, .container .panel .signIn .item{
    width: 100%;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .panel .signUp .item i, .container .panel .signIn .item i{
    z-index: 2;
    margin-right: -25px;
    color: var(--bg);
}

.container .panel .signUp .item input, .container .panel .signIn input{
    width: 60%;
    height: 38px;
    text-align: center;
    background: transparent;
    border: 1px solid transparent;
    border-bottom-color: var(--border-sign-input);
    border-radius: 5px;
    font-size: 15px;
    outline: none;
}

.container .panel .signUp button, .container .panel .signIn button{
    width: 50%;
    height: 38px;
    background: var(--bg);
    color: var(--color);
    border: none;
    border-radius: 5px;
    font-size: 15px;
}

.container .panel .signUp button a, .container .panel .signIn button a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 20px;
    color: var(--color);
}

/*? errors form*/

/* password */
.container .panel .signUp .item .error{
    border-bottom-color: red;
}

.container .panel .signUp .passwordError{
    color: red;
}

/* phone */
.container .panel .signUp .phoneError{
    color: red;
}

/*? active */
.container .panel .controller button.active{
    background: var(--bg);
}

.container .panel div.active{
    display: flex;
}

/*? hover */
button:hover{
    cursor: pointer;
}




/*? adoptation */
@media all and (max-width: 400px) {
    .container .panel{
        width: 250px;
        height: 400px;
    }
    .container .panel .signUp .item input, .container .panel .signIn input{
        width: 80%;
    }
}

@media all and (max-width: 300px) {
    .container .panel{
        width: 230px;
        height: 350px;
    }
    .container .panel .signUp .item input, .container .panel .signIn input{
        width: 88%;
    }
    .container .panel .signUp button a, .container .panel .signIn button a{
        font-size: 15px;
    }
    .container .panel .controller button{
        font-size: 15px;
    }
}

@media all and (max-height: 600px) {
    .container .panel{
        width: 230px;
        height: 400px;
    }
    .container .panel .signUp .item input, .container .panel .signIn input{
        width: 88%;
    }
    .container .panel .signUp button a, .container .panel .signIn button a{
        font-size: 15px;
    }
    .container .panel .controller button{
        font-size: 15px;
    }
}