/*? General */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    outline: none;
    text-decoration: none;
}
html{
    overflow-x: hidden;
    background: var(--bgColor);
}
:root{
    --mainColor: #F3A712;
    --bgColor: #212227;
    --textColor: #fff;
    --secondTextColor: rgba(255,255,255, 0.80);
    --thirdTextColor: rgba(255,255,255, 0.65);
}
h2{
    font-size: 26px;
    color: var(--textColor);
    font-weight: 700;
    letter-spacing: 1.2px;
    text-align: center;
}
h3{
    font-size: 21px;
    color: var(--secondTextColor);
}
p{
    font-size: 18px;
    color: var(--thirdTextColor);
}
button{
    width: 180px;
    height: 50px;
    font-size: 20px;
    outline: none;
    border: 1px solid transparent;
    border-radius: 10px;
    background: var(--mainColor);
    color: var(--textColor);
    margin-top: 20px;
}
button:hover{
    cursor: pointer;
}

/*? Modal window */
.modalWindow{
    position: absolute;
    width: 280px;
    height: 400px;
    background-color: rgba(0,0,0,0.9);
    border: 1px solid transparent;
    border-radius: 30px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: calc(50vh - 200px);
    margin-left: calc(50vw - 140px);
    z-index: 300;
}

.modalWindow.active{
    display: flex;
}

.modalWindow .exit{
    position: absolute;
    top: 0;
    height: 36px;
    width: 100%;
}

.modalWindow .exit i{
    color: var(--textColor);
    font-size: 30px;
    margin: 15px;
}

.modalWindow input{
    margin-top: 30px;
    margin-bottom: 30px;
    height: 35px;
    width: 220px;
    border: 1px solid transparent;
    border-radius: 10px;
    background: transparent;
    border-bottom-color: #D96C06;
    color: var(--textColor);
    padding-left: 15px;
    font-size: 18px;
}

/*? Header */
header{
    width: 100vw;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

header .toggleMenu{
    display: none;
}
header nav{
    width: 100%;
    height: 100px;
    padding-top: 20px;
    padding-left: 50px;
}
header nav ul{
    max-width: 500px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav ul li{
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header nav ul li a{
    font-size: 16px;
    color: var(--textColor);
    transition: all 0.25s;
}
header nav ul li a:hover{
    cursor: pointer;
    color: var(--mainColor);
}

header .mainInfo h1{
    max-width: 600px;
    height: 60%;
    letter-spacing: 1.2px;
    display: flex;
    justify-content: flex-end;
    padding-top: 150px;
    text-align: end;
    font-size: 5rem;
    color: var(--mainColor);
    font-weight: bold;
}
header .mainInfo ul{
    max-width: 600px;
    height: 40%;
    display: flex;
    flex-direction: column;
    padding-top: 10%;
}
header .mainInfo ul li{
    display: flex;
    justify-content: flex-end;
    margin: 10px 0;
    font-size: 21px;
    color: var(--secondTextColor);
}

header .background{
    max-width: 600px;
    height: 100%;
}

@media all and (max-width : 950px) {
    header{
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding-top: 200px;
    }

    header nav{
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        padding: 0;
        background: var(--bgColor);
        z-index: 1;
        transform: translateX(-100vw);
        transition: all 0.4s;
    }
    header .active{
        transform: translateX(0);
    }
    header nav ul{
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; 
    }
    header nav ul li{
        text-align: center;
        margin: 25px 0;
    }
    header .toggleMenu{
        margin: 0;
        padding: 0;
        display: flex;
        align-self: flex-start;
        justify-content: start;
    }
    header .toggleMenu i{
        position: absolute;
        top: 25px;
        left: 50px;
        font-size: 32px;
        color: var(--textColor);
        z-index: 2;
    }

    header .mainInfo h1{
        height: 50%;
        padding-top: 0;
        letter-spacing: 1.1px;
        justify-content: flex-start;
        text-align: left;
        font-size: 4rem;
    } 
    header .mainInfo ul{
        height: 50%;
    }
    header .mainInfo ul li{
        display: flex;
        justify-content: flex-start;
        margin: 10px 0;
        font-size: 18px;
    }
    header .background{
        max-width: 600px;
        height: 100%;
        margin-top: 25px;
    }
}

@media all and (max-width : 650px) {
    header .mainInfo h1{
        font-size: 3rem;
    } 
    header .mainInfo ul li{
        font-size: 16px;
    }
    header .background{
        max-width: 400px;
    }
}

@media all and (max-width : 410px) {
    header{
        padding-top: 100px;
    }

    header .toggleMenu i{
        font-size: 28px !important;
    }

    header .mainInfo h1{
        font-size: 2rem;
    } 
    header .mainInfo ul li{
        font-size: 12px;
    }
    header .background{
        max-width: 280px;
    }
}


/*? Main */
.hr{
    width: 60%;
    height: 2px;
    background: rgb(33,34,39);
    background: linear-gradient(90deg, rgba(33,34,39,1) 0%, rgba(243,167,18,1) 100%);
    margin: 50px auto;
}

main{
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}

/** Media */

main .media{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
    margin: 40px 0;
}
main .media a{
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0;
    border-radius: 10px;
}
main .media .telegram{
    border: 1px solid #0088cc;
    -webkit-box-shadow: 1px 1px 37px 9px rgba(0, 136, 204, 0.27);
    -moz-box-shadow: 1px 1px 37px 9px rgba(0, 136, 204, 0.27);
    box-shadow: 1px 1px 37px 9px rgba(0, 136, 204, 0.27);
}
main .media .instagram{
    -webkit-box-shadow: 1px 1px 37px 9px rgba(225, 48, 108, 0.27);
    -moz-box-shadow: 1px 1px 37px 9px rgba(225, 48, 108, 0.27);
    box-shadow: 1px 1px 37px 9px rgba(225, 48, 108, 0.27);
}
main .media .facebook{
    -webkit-box-shadow: 1px 1px 37px 9px rgba(59, 89, 152, 0.27);
    -moz-box-shadow: 1px 1px 37px 9px rgba(59, 89, 152, 0.27);
    box-shadow: 1px 1px 37px 9px rgba(59, 89, 152, 0.27);
}
main .media a .item{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
main .media .telegram .item h3{
    color: #0088cc;
}
main .media .instagram .item h3{
    color: #E1306C;
}
main .media .facebook .item h3{
    color: #3b5998;
}


/** Why me */

main .whyMe{
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 40px auto;
    padding: 40px 0;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.4);
}
main .whyMe .item{
    max-width: 360px;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
main .whyMe .item i{
    color: var(--mainColor);
    font-size: 45px;
}
main .whyMe .item h3{
    margin-top: 50px;
}
main .whyMe .item p{
    text-align: center;
    margin-top: 30px;
    width: 80%;
}
@media all and (max-width : 1200px) {
    main .whyMe{
        flex-direction: column;
        row-gap: 50px;
    }

    main .whyMe .item{
        border-radius: 10px;
        -webkit-box-shadow: 1px 1px 37px 0px rgba(255, 255, 255, 0.27);
        -moz-box-shadow: 1px 1px 37px 0px rgba(255, 255, 255, 0.27);
        box-shadow: 1px 1px 37px 0px rgba(255, 255, 255, 0.27);
        padding: 40px 0;
    }
}

/** Info */

main .info{
    width: 90%;
    height: 100%;
}
main .info .item{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}
main .info .item .text{
    width: 40%;
    height: 250px;
    padding-top: 20px;
    background: rgba(0, 0, 0, 0.9);
    margin-right: -250px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid rgba(243,167,18,0.6);
}
main .info .item .text p{
    margin-top: 20px;
    width: 70%;
}
main .info .item img{
    width: 50%;
    height: 100%;
}
@media all and (max-width : 950px) {
    main .info{
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    main .info .item{
        display: flex;
        flex-direction: column-reverse;
        height: 100%;
        width: 100%;
    }
    main .info .item .text{
        width: 90%;
        height: 100%;
        padding-top: 20px;
        background: transparent;
        margin: 0;
        margin-top: 40px;
        padding: 20px;
    }
    main .info .item .text p{
        margin-top: 20px;
        width: 80%;
    }
    main .info .item img{
        display: block;
        position: relative;
        width: 90%;
        height: 100%;
    }
}


/** Advantages */

main .advantages{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px auto;
    padding: 40px 0;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    row-gap: 40px;
}
main .advantages .item{
    width: 60%;
    display: flex;
    justify-content: center;
}
main .advantages .item .icon i{
    font-size: 25px;
    color: var(--mainColor);
}
main .item .text{
    margin-left: 20px;
}
main .item .text p{
    margin-top: 10px;
}
@media all and (max-width : 650px) {
    main .advantages .item{
        width: 80%;
    }
}






















main .about .panel .row .item h3{
    color: var(--textColor);

}

main .about .panel .row .item p{
    margin-top: 15px;
    color: var(--secondTextColor);
}

main .additional{
    background: var(--bgColor);
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .additional h2{
    margin-top: 40px;
    color: var(--textColor);
}

main .additional  .row{
    width: 70%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .additional  .row .item{
    width: 25%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

main .additional  .row .item i{
    margin-top: 60px;
    color: var(--mainColor);
    font-size: 50px;
}

main .additional  .row .item h3{
    margin-top: 60px;
    font-size: 22px;
    color: var(--textColor);
}

main .additional .row .item p{
    text-align: center;
    margin-top: 30px;
    width: 230px;
    color: var(--secondTextColor);
}

header .general{
    margin-left: 100px;
    margin-top: 200px;
    color: var(--textColor);
}

header .general h1{
    margin-bottom: 40px;
}

header .general p{
    width: 600px;
}




main .whyWe{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #000004;
    padding :50px 0;
}

main .whyWe .wrapper{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main .whyWe .wrapper .item{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

main .whyWe .wrapper .item .text{
    color: var(--textColor);
    margin-left: 30px;
}

main .whyWe .wrapper .item .text p{
    margin-top: 30px;
    width: 300px;
}

main .whyWe .wrapper .item .icon i{
    font-size: 30px;
    color: var(--mainColor);
}

main .clients{
    height: 100%;
    width: 100%;
    background: var(--bgColor);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    flex-wrap: wrap;
    padding: 50px 0;
}

main .clients .item{
    min-width: 300px;
    max-width: 400px;
    height: 100%;
    margin-top: 40px;
    color: var(--textColor);

}

main .clients .item h2{
    margin-bottom: 25px;
}

footer{
    width: 100vw;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer i{
    font-size: 40px;
    margin-top: 40px;
    color: var(--textColor);
}

footer .background{
    position: absolute;
    width: 100vw;
    height: 500px;
    background: linear-gradient(180deg, rgba(19,19,19,1) 0%, rgba(71,71,71,1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -100;
}

footer nav{
    margin-top: 100px;
}

footer nav ul{
    width: 400px;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

footer nav ul li{
    width: 25%;
    height: 30px;
}

footer nav ul li a{ 
    font-size: 18px;
    line-height: 20px;
    color: var(--textColor);
    transition: all 0.25s;
}


footer nav ul li a:hover{
    cursor: pointer;
    color: var(--mainColor);
}

footer .media{
    margin-top: 30px;
}

footer .media a{
    margin-right: 10px;
    margin-left: 10px;
}

footer a{
    font-size: 20px;
    margin-top: 30px;
    color: var(--mainColor);
}

/* @media all and (max-width : 1350px) {
    main .additional{
        background: var(--bgColor);
        width: 100%;
        height: 2000px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    main .additional h2{
        margin-top: 40px;
        color: var(--textColor);
    }
    
    main .additional .row{
        width: 90%;
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    main .additional  .row .item{
        width: 85%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
    main .additional  .row .item i{
        margin-top: 80px;
        color: var(--mainColor);
        font-size: 50px;
    }
    
    main .additional  .row .item h3{
        margin-top: 60px;
        font-size: 22px;
        color: var(--textColor);
    }
    
    main .additional .row .item p{
        text-align: center;
        margin-top: 30px;
        width: 280px;
        color: var(--secondTextColor);
    }
}

@media all and (max-width : 1240px) {
    main .whyMe{
        height: 1800px;
    }
    
    main .whyMe .panel{
        width: 400px;
        height: 1500px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    main .whyMe .panel h2{
        margin-top: 50px;
    }
    
    main .whyMe .panel .row{
        margin-top: 30px;
        max-width: 100%;
        height: 95%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        flex-wrap: wrap;
    }
    
    main .whyMe .panel .row .item{
        min-width: 100%;
        height: 33%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
    main .whyMe .panel .row .item i{
        margin-top: 60px;
        color: var(--mainColor);
        font-size: 50px;
    }
    
    main .whyMe .panel .row .item h3{
        margin-top: 60px;
        font-size: 22px;
        color: var(--textColor);
    }
    
    main .whyMe .panel .row .item p{
        text-align: center;
        margin-top: 30px;
        width: 230px;
        color: var(--secondTextColor);
    }
    main .background{
        position: absolute;
        width: 100vw;
        height: 2100px;
        background-image: url(images/background2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        z-index: -100;
    }

    main .info{
        background: var(--bgColor);
        width: 100%;
        height: 3000px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 80px;
    }
    
    main .info .row:nth-child(n){
        flex-direction: column-reverse;
    }
    
    main .info .row{
        margin-top: 80px;
        max-width: 100%;
        height: 600px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        border: 1px solid transparent;
    }
    main .info .row .item{
        margin-top: 50px;
        min-width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    main .info .row .text{
        margin-top: 30px;
        min-width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 0;
    }
    
    main .info .row .text h3{
        font-size: 22px;
        font-weight: bold;
        color: var(--mainColor);
    }
    
    main .info .row .text p{
        margin-top: 30px;
        width: 350px;
        color: var(--secondTextColor);
    }
    
    main .info .row .item img{
        width: 470px;
        height: 300px;
    }
    main .about {
        height: 1100px;
    }
    main .about .panel{
        margin-top: 50px;
        border: 1px solid transparent;
        border-radius: 40px;
        width: 60%;
        height: 1000px;
        background: rgba(0, 0, 0, 0.4);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


@media all and (max-width : 540px) {
    header .headerInfo h1{
        font-size: 25px;
        line-height: 25px;
        letter-spacing: 1.1px;
    }
    header .headerInfo p{
        width: 350px;
        font-size: 17px;
        line-height: 20px;
        word-spacing: 1.5px;
        margin-top: 30px;
    }
    
    header .headerInfo .media{
        margin-top: 40px;
        width: 120px;
        display: flex;
        justify-content: space-between;
    }
    
    header .headerInfo .media img{
        width: 30px;
        height: 30px;
    }

    footer .media{
        margin-top: 40px;
        width: 160px;
        display: flex;
        justify-content: space-between;
    }
    footer{
        width: 100vw;
        height: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    footer .media img{
        width: 30px;
        height: 30px;
    }
    
    header .arrowDown{
        position: absolute;
        top: 80vh;
        left: 50vw;
    }
    
    main .info .row .text h3{
        font-size: 22px;
        font-weight: bold;
        color: var(--mainColor);
    }
    
    main .info .row .text p{
        margin-top: 25px;
        width: 320px;
        color: var(--secondTextColor);
    }
    
    main .info .row .item img{
        width: 370px;
        height: 230px;
    }
    main .about{
        width: 100%;
        height: 1400px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    main .about .panel{
        margin-top: 50px;
        border: 1px solid transparent;
        border-radius: 40px;
        width: 90%;
        height: 1000px;
        background: rgba(0, 0, 0, 0.4);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    footer .background{
        position: absolute;
        width: 100vw;
        height: 300px;
        background: linear-gradient(180deg, rgba(19,19,19,1) 0%, rgba(71,71,71,1) 100%);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        z-index: -100;
    }
    footer nav{
        display: none;
    }
    header nav{
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: var(--bgColor);
        z-index: 200;
        transform: translateX(-100vw);
        transition: all 0.4s;
    }

    header .active{
        transform: translateX(0);
    }

    header nav ul{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; 
    }

    header nav ul li{
        text-align: center;
        margin: 25px 0;
    }

    header .toggleMenu{
        display: block;
    }

    header .toggleMenu i{
        position: absolute;
        font-size: 32px;
        color: var(--textColor);
        z-index: 201;
    }

    header .headerInfo{
        margin-top: 30%;
    }

    header .headerInfo p{
        width: 300px;
        font-size: 20px;
        line-height: 25px;
        word-spacing: 2px;
        margin-top: 40px;
        color: var(--secondTextColor);
    }
    
    main .mainInfo h2{
        margin-top: 100px;
        color: var(--textColor);
        font-size: 20px;
    }
    
    main .mainInfo p{
        margin-top: 30px;
        width: 80%;
        color: var(--secondTextColor);
        text-align: center;
    }
} */