@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    outline: none;
    text-decoration: none;
    list-style-type: none;
    z-index: 100;
}

html{
    overflow-x: hidden;
}

:root{
    --mainColor: #D96C06;
    --bgColor: #131313;
    --textColor: #fff;
    --secondTextColor : #acacac;
}

h2{
    font-size: 25px;
    color: var(--textColor);
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 1.2px;
}

p{
    font-size: 20px;
    line-height: 25px;
    word-spacing: 2px;
}

button{
    width: 180px;
    height: 50px;
    font-size: 20px;
    outline: none;
    border: 1px solid transparent;
    border-radius: 10px;
    background: var(--mainColor);
    color: var(--textColor);
    margin-top: 20px;
}

button:hover{
    cursor: pointer;
}

.modalWindow{
    position: absolute;
    width: 280px;
    height: 400px;
    background-color: rgba(0,0,0,0.9);
    border: 1px solid transparent;
    border-radius: 30px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: calc(50vh - 200px);
    margin-left: calc(50vw - 140px);
    z-index: 300;
}

.modalWindow.active{
    display: flex;
}

.modalWindow .exit{
    position: absolute;
    top: 0;
    height: 36px;
    width: 100%;
}

.modalWindow .exit i{
    color: var(--textColor);
    font-size: 30px;
    margin: 15px;
}

.modalWindow input{
    margin-top: 30px;
    margin-bottom: 30px;
    height: 35px;
    width: 220px;
    border: 1px solid transparent;
    border-radius: 10px;
    background: transparent;
    border-bottom-color: #D96C06;
    color: var(--textColor);
    padding-left: 15px;
    font-size: 18px;
}

header{
    width: 100vw;
    height: 100vh;
}

header .toggleMenu{
    display: none;
}

header .background{
	position: relative;
	width: 100vw;    
	height: 100vh;
	background: 
		linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
		url(images/background.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: top;  
    padding-top: 5%;
    padding-left: 7%;
}




header nav{
    width: 100%;
    height: 80px;
}

header nav ul{
    width: 400px;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

header nav ul li{
    width: 25%;
    height: 30px;
}

header nav ul li a{
    font-size: 18px;
    line-height: 20px;
    color: var(--textColor);
    transition: all 0.25s;
}

header nav ul li a:hover{
    cursor: pointer;
    color: var(--mainColor);
}

header .headerInfo {
    margin-top: 7%;
}

header .headerInfo h1{
    font-size: 30px;
    color: var(--mainColor);
    font-weight: bold;
    line-height: 30px;
    letter-spacing: 1.2px;
}
header .headerInfo p{
    width: 450px;
    font-size: 20px;
    line-height: 25px;
    word-spacing: 2px;
    margin-top: 40px;
    color: var(--secondTextColor);
}

header .headerInfo .media{
    margin-top: 50px;
    width: 150px;
    display: flex;
    justify-content: space-between;
}

header .headerInfo .media img{
    width: 36px;
    height: 36px;
}

header .arrowDown{
    position: absolute;
    top: 90vh;
    left: 50vw;
}

header .arrowDown i{
    font-size: 40px;
    color: var(--secondTextColor);
}

header .arrowDown i:hover{
    cursor: pointer;
}


main{
    width: 100vw;
    height: 100%;
}

main .mainInfo{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--bgColor);
}

main .mainInfo h2{
    margin-top: 140px;
    color: var(--textColor);
}

main .mainInfo p{
    margin-top: 35px;
    width: 400px;
    color: var(--secondTextColor);
    text-align: center;
}

main .background{
    position: absolute;
    width: 100vw;
    height: 1000px;
    background-image: url(images/background2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -100;
}

main .whyMe{
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .whyMe .panel{
    margin-top: 50px;
    border: 1px solid transparent;
    border-radius: 40px;
    width: 70%;
    height: 600px;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .whyMe .panel h2{
    margin-top: 70px;
    color: var(--textColor);
}

main .whyMe .panel .row{
    margin-top: 30px;
    max-width: 80%;
    height: 70%;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}

main .whyMe .panel .row .item{
    min-width: 33%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

main .whyMe .panel .row .item i{
    margin-top: 60px;
    color: var(--mainColor);
    font-size: 50px;
}

main .whyMe .panel .row .item h3{
    margin-top: 60px;
    font-size: 22px;
    color: var(--textColor);
}

main .whyMe .panel .row .item p{
    text-align: center;
    margin-top: 30px;
    width: 230px;
    color: var(--secondTextColor);
}

main .info{
    background: var(--bgColor);
    width: 100%;
    height: 1800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
}

main .info .row:nth-child(2n){
    flex-direction: row-reverse;
}

main .info .row{
    margin-top: 40px;
    max-width: 1100px;
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid transparent;
}
main .info .row .item{
    min-width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .info .row .text{
    min-width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px;
}

main .info .row .text h3{
    font-size: 22px;
    font-weight: bold;
    color: var(--mainColor);
}

main .info .row .text p{
    margin-top: 30px;
    width: 350px;
    color: var(--secondTextColor);
}

main .info .row .item img{
    width: 470px;
    height: 300px;
}

main .about{
    width: 100%;
    height: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .about .panel{
    margin-top: 50px;
    border: 1px solid transparent;
    border-radius: 40px;
    width: 40%;
    height: 750px;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .about .panel h2{
    margin-top: 40px;
    color: var(--textColor);
}

main .about .panel .row{
    width: 80%;
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

main .about .panel .row .icon i{
    font-size: 25px;
    color: #D96C06;
}

main .about .panel .row .item{
    margin-left: 20px;

}

main .about .panel .row .item h3{
    color: var(--textColor);

}

main .about .panel .row .item p{
    margin-top: 15px;
    color: var(--secondTextColor);
}

main .additional{
    background: var(--bgColor);
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .additional h2{
    margin-top: 40px;
    color: var(--textColor);
}

main .additional  .row{
    width: 70%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .additional  .row .item{
    width: 25%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

main .additional  .row .item i{
    margin-top: 60px;
    color: var(--mainColor);
    font-size: 50px;
}

main .additional  .row .item h3{
    margin-top: 60px;
    font-size: 22px;
    color: var(--textColor);
}

main .additional .row .item p{
    text-align: center;
    margin-top: 30px;
    width: 230px;
    color: var(--secondTextColor);
}

footer{
    width: 100vw;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer i{
    font-size: 40px;
    margin-top: 40px;
    color: var(--textColor);
}

footer .background{
    position: absolute;
    width: 100vw;
    height: 500px;
    background: linear-gradient(180deg, rgba(19,19,19,1) 0%, rgba(71,71,71,1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -100;
}

footer nav{
    margin-top: 100px;
}

footer nav ul{
    width: 400px;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

footer nav ul li{
    width: 25%;
    height: 30px;
}

footer nav ul li a{ 
    font-size: 18px;
    line-height: 20px;
    color: var(--textColor);
    transition: all 0.25s;
}


footer nav ul li a:hover{
    cursor: pointer;
    color: var(--mainColor);
}

footer .media{
    margin-top: 30px;
}

footer .media a{
    margin-right: 10px;
    margin-left: 10px;
}

footer a{
    font-size: 20px;
    margin-top: 30px;
    color: var(--mainColor);
}

@media all and (max-width : 1350px) {
    main .additional{
        background: var(--bgColor);
        width: 100%;
        height: 2000px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    main .additional h2{
        margin-top: 40px;
        color: var(--textColor);
    }
    
    main .additional .row{
        width: 90%;
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    main .additional  .row .item{
        width: 85%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
    main .additional  .row .item i{
        margin-top: 80px;
        color: var(--mainColor);
        font-size: 50px;
    }
    
    main .additional  .row .item h3{
        margin-top: 60px;
        font-size: 22px;
        color: var(--textColor);
    }
    
    main .additional .row .item p{
        text-align: center;
        margin-top: 30px;
        width: 280px;
        color: var(--secondTextColor);
    }
}

@media all and (max-width : 1240px) {
    main .whyMe{
        height: 1800px;
    }
    
    main .whyMe .panel{
        width: 400px;
        height: 1500px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    main .whyMe .panel h2{
        margin-top: 50px;
    }
    
    main .whyMe .panel .row{
        margin-top: 30px;
        max-width: 100%;
        height: 95%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        flex-wrap: wrap;
    }
    
    main .whyMe .panel .row .item{
        min-width: 100%;
        height: 33%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
    main .whyMe .panel .row .item i{
        margin-top: 60px;
        color: var(--mainColor);
        font-size: 50px;
    }
    
    main .whyMe .panel .row .item h3{
        margin-top: 60px;
        font-size: 22px;
        color: var(--textColor);
    }
    
    main .whyMe .panel .row .item p{
        text-align: center;
        margin-top: 30px;
        width: 230px;
        color: var(--secondTextColor);
    }
    main .background{
        position: absolute;
        width: 100vw;
        height: 2100px;
        background-image: url(images/background2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        z-index: -100;
    }

    main .info{
        background: var(--bgColor);
        width: 100%;
        height: 3000px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 80px;
    }
    
    main .info .row:nth-child(n){
        flex-direction: column-reverse;
    }
    
    main .info .row{
        margin-top: 80px;
        max-width: 100%;
        height: 600px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        border: 1px solid transparent;
    }
    main .info .row .item{
        margin-top: 50px;
        min-width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    main .info .row .text{
        margin-top: 30px;
        min-width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 0;
    }
    
    main .info .row .text h3{
        font-size: 22px;
        font-weight: bold;
        color: var(--mainColor);
    }
    
    main .info .row .text p{
        margin-top: 30px;
        width: 350px;
        color: var(--secondTextColor);
    }
    
    main .info .row .item img{
        width: 470px;
        height: 300px;
    }
    main .about {
        height: 1100px;
    }
    main .about .panel{
        margin-top: 50px;
        border: 1px solid transparent;
        border-radius: 40px;
        width: 60%;
        height: 1000px;
        background: rgba(0, 0, 0, 0.4);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


@media all and (max-width : 540px) {
    header .headerInfo h1{
        font-size: 25px;
        line-height: 25px;
        letter-spacing: 1.1px;
    }
    header .headerInfo p{
        width: 350px;
        font-size: 17px;
        line-height: 20px;
        word-spacing: 1.5px;
        margin-top: 30px;
    }
    
    header .headerInfo .media{
        margin-top: 40px;
        width: 120px;
        display: flex;
        justify-content: space-between;
    }
    
    header .headerInfo .media img{
        width: 30px;
        height: 30px;
    }

    footer .media{
        margin-top: 40px;
        width: 160px;
        display: flex;
        justify-content: space-between;
    }
    footer{
        width: 100vw;
        height: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    footer .media img{
        width: 30px;
        height: 30px;
    }
    
    header .arrowDown{
        position: absolute;
        top: 80vh;
        left: 50vw;
    }
    
    main .info .row .text h3{
        font-size: 22px;
        font-weight: bold;
        color: var(--mainColor);
    }
    
    main .info .row .text p{
        margin-top: 25px;
        width: 320px;
        color: var(--secondTextColor);
    }
    
    main .info .row .item img{
        width: 370px;
        height: 230px;
    }
    main .about{
        width: 100%;
        height: 1400px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    main .about .panel{
        margin-top: 50px;
        border: 1px solid transparent;
        border-radius: 40px;
        width: 90%;
        height: 1000px;
        background: rgba(0, 0, 0, 0.4);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    footer .background{
        position: absolute;
        width: 100vw;
        height: 300px;
        background: linear-gradient(180deg, rgba(19,19,19,1) 0%, rgba(71,71,71,1) 100%);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        z-index: -100;
    }
    footer nav{
        display: none;
    }
    header nav{
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: var(--bgColor);
        z-index: 200;
        transform: translateX(-100vw);
        transition: all 0.4s;
    }

    header .active{
        transform: translateX(0);
    }

    header nav ul{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; 
    }

    header nav ul li{
        text-align: center;
        margin: 25px 0;
    }

    header .toggleMenu{
        display: block;
    }

    header .toggleMenu i{
        position: absolute;
        font-size: 32px;
        color: var(--textColor);
        z-index: 201;
    }

    header .headerInfo{
        margin-top: 30%;
    }

    header .headerInfo p{
        width: 300px;
        font-size: 20px;
        line-height: 25px;
        word-spacing: 2px;
        margin-top: 40px;
        color: var(--secondTextColor);
    }
    
    main .mainInfo h2{
        margin-top: 100px;
        color: var(--textColor);
        font-size: 20px;
    }
    
    main .mainInfo p{
        margin-top: 30px;
        width: 80%;
        color: var(--secondTextColor);
        text-align: center;
    }
}